<a href="https://colab.research.google.com/github/6BIJOY6/6BIJOY6/blob/main/Task1(C201016).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variable**

**Assignment 1**

In [2]:
# Assignment 1: Create two variables, one holding a number and the other holding your name. Then print both.
age = 25
name = "Bijoy Das"
print(age, name)

25 Bijoy Das

**Assignment 2**

In [3]:
# Assignment 2: Create variables of different types and use the type() function to check their types.
int_var = 10
float_var = 10.5
str_var = "Hello"
bool_var = True
print(type(int_var), type(float_var), type(str_var), type(bool_var))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

**Assignment 3**

In [4]:
# Assignment 3: Fix the bad variable name and create three more variables with good naming practices.
#_bad_variable = "Fix me"
#2fixed_variable = "Fixed Name"

age = 30
grade = "A"
is_student = True

**Assignment 04**

In [5]:
# Assignment 4: Create a variable, assign it a value of one type, then reassign it to a different type and print both.
variable = 42  # Initially an integer
print(variable)
variable = "Now a string"
print(variable)

42
Now a string

# List_Tuple

**Assignment 01**

In [6]:
# Assignment 1: Create a 2D list representing a 3x3 matrix and perform operations like accessing, modifying, and iterating through it.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix[1][1])  # Accessing element
matrix[2][2] = 10  # Modifying element
for row in matrix:  # Iterating
    print(row)

5
[1, 2, 3]
[4, 5, 6]
[7, 8, 10]

Assignment 02

In [8]:
# Assignment 2: Create a tuple with mixed data types and demonstrate its potential use cases in data structures like dictionaries.
mixed_tuple = ("Joy", 25, True)
data_dict = {"person_info": mixed_tuple}
print(data_dict)

# Accessing and utilizing the tuple data
print(f"Name: {data_dict['person_info'][0]}")
print(f"Age: {data_dict['person_info'][1]}")
print(f"Active Status: {data_dict['person_info'][2]}")

# Storing multiple people's information in a dictionary
data_dict = {
    "person_1": ("Joy", 25, True),  # Name, age, active status
    "person_2": ("rakib", 30, False),
    "person_3": ("Doe", 22, True),
}

# Iterate through the dictionary to display each person's details
for person, info in data_dict.items():
    print(f"{person}: Name = {info[0]}, Age = {info[1]}, Active = {info[2]}")

# Use case: Quick access to immutable attributes for a system
user_data = {
    "admin": ("joy", "Admin", True),  # Username, Role, Active
    "user1": ("Bob", "User", False),
}

# Check if a user is active and their role
username = "admin"
if username in user_data:
    role = user_data[username][1]
    is_active = user_data[username][2]
    print(f"{username} is a {role}. Active: {is_active}")
else:
    print("User not found.")

{'person_info': ('Joy', 25, True)}
Name: Joy
Age: 25
Active Status: True
person_1: Name = Joy, Age = 25, Active = True
person_2: Name = rakib, Age = 30, Active = False
person_3: Name = Doe, Age = 22, Active = True
admin is a Admin. Active: True

Assignment 03

In [9]:
# Assignment 3: Create a list of tuples, where each tuple contains a student's name and their grade. Sort this list by grades.
students = [("Joy", 85), ("rakib", 90), ("devdas", 78)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

[('devdas', 78), ('Joy', 85), ('rakib', 90)]

# Dictionary

In [12]:
# Assignment 1: Create a dictionary representing a student with keys like 'name', 'roll_number', 'grades' (a list of subjects and marks).
student_dict = {
    "name": "Joy Das",
    "roll_number": "C201016",
    "grades": {"DS": 90, "ML": 85, "D": 88}
}
print(student_dict)

{'name': 'Joy Das', 'roll_number': 'C201016', 'grades': {'DS': 90, 'ML': 85, 'D': 88}}

**Assignment 02**

In [13]:
# Assignment 2: Create a dictionary where keys are student names and values are lists of grades. Calculate the average grade for each student.
students_grades = {
    "joy": [85, 90, 88],
    "rakib": [92, 88, 94],
    "Devdas": [78, 85, 80]
}
for student, grades in students_grades.items():
    avg = sum(grades) / len(grades)
    print(f"{student}: {avg:.2f}")

joy: 87.67
rakib: 91.33
Devdas: 81.00

# String

**Assignment 01**

In [14]:
# Assignment 1: Create a string that contains a simple bio-data like name, age, and country. Extract each piece of information and print them separately.
bio_data = "Name: Joy, Age: 25, Country: BD"
parts = bio_data.split(", ")
for part in parts:
    print(part.split(": ")[1])

Joy
25
BD

**Assignment 02**

In [15]:
# Assignment 2: Create a formatted string that includes data from a list or dictionary.
person_info = {"name": "Joy", "age": 25, "country": "BD"}
formatted_string = f"My name is {person_info['name']}, I am {person_info['age']} years old, and I live in {person_info['country']}."
print(formatted_string)

My name is Joy, I am 25 years old, and I live in BD.

Assignment 03

In [16]:
# Write a function that takes a string and returns a dictionary with the counts of each character in the string.
def char_count(s):
    counts = {}
    for char in s:
        counts[char] = counts.get(char, 0) + 1
    return counts

print(char_count("hello world"))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

# Conditional

**Assignment 01**

In [17]:
# Assignment 1: Determine if a number is positive, negative, or zero.
def check_number_sign(number):
    if number > 0:
        print("Positive")
    elif number < 0:
        print("Negative")
    else:
        print("Zero")

check_number_sign(5)
check_number_sign(-3)
check_number_sign(0)

Positive
Negative
Zero

**Assignment 02**

In [19]:
# Assignment 2: Simulate a basic login system.
def login_system():
    correct_username = "admin"
    correct_password = "password123"
    username = input("Enter username: ")
    password = input("Enter password: ")
    if username == correct_username and password == correct_password:
        print("Login successful!")
    else:
        print("Invalid username or password.")

login_system()

Enter username: admin
Enter password: password123
Login successful!

**assignment 03**

In [20]:
# Assignment 3: Categorize a day based on temperature and weather conditions.
def categorize_day(temperature, weather):
    if temperature > 30 and weather == "sunny":
        print("It's a hot sunny day.")
    elif temperature <= 30 and weather == "rainy":
        print("It's a cool rainy day.")
    else:
        print("It's a pleasant day.")

categorize_day(35, "sunny")
categorize_day(25, "rainy")
categorize_day(20, "cloudy")

It's a hot sunny day.
It's a cool rainy day.
It's a pleasant day.

# loop

**Assignment 01**

In [21]:
# Assignment 1: Process a list of temperature readings with a threshold warning.
def temperature_warning(readings, threshold):
    for temp in readings:
        if temp > threshold:
            print(f"Warning: Temperature {temp} exceeds the threshold of {threshold}!")

temperature_warning([25, 30, 35, 40], 32)

Warning: Temperature 35 exceeds the threshold of 32!
Warning: Temperature 40 exceeds the threshold of 32!

# Function

**Assignment 01**

In [23]:
# Assignment 1: Function to calculate the factorial of a number.
def factorial(n):
    try:
        if n < 0:
            raise ValueError("Factorial is not defined for negative numbers.")
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result
    except TypeError:
        print("Input must be an integer.")

print(factorial(5))
print(factorial(3))

120
6

# Files

**Assignment 01**

In [24]:
# Assignment 1: Read a CSV file and convert it to a JSON file.
import csv
import json

def csv_to_json(csv_file, json_file):
    try:
        with open(csv_file, 'r') as f:
            reader = csv.DictReader(f)
            rows = list(reader)
        with open(json_file, 'w') as f:
            json.dump(rows, f, indent=4)
        print(f"CSV data has been converted to JSON in {json_file}.")
    except FileNotFoundError:
        print(f"File {csv_file} not found.")

csv_to_json('products.csv', 'products.json')

CSV data has been converted to JSON in products.json.

**Assignment 02 **

In [25]:
# Assignment 2: Log file writer with timestamps.
from datetime import datetime

def write_log(message, log_file="logfile.txt"):
    with open(log_file, 'a') as f:
        timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        f.write(f"[{timestamp}] {message}\n")

write_log("Application started.")
write_log("An error occurred.")

# Math

  Assignment 01

In [26]:
# Assignment 1: Calculate compound interest.
def compound_interest(principal, rate, times, years):
    amount = principal * (1 + rate / times) ** (times * years)
    return amount

print(compound_interest(1000, 0.05, 12, 5))

1283.3586785035118

Assignment 02

In [28]:
import time
from datetime import datetime

def display_time():
    """
    Prints the current time and updates every second.
    """
    try:
        while True:
            # Get the current time
            current_time = datetime.now().strftime("%H:%M:%S")

            # Print the current time (overwrite the same line)
            print(f"\rCurrent Time: {current_time}", end="")

            # Wait for 1 second
            time.sleep(1)
    except KeyboardInterrupt:
        # Handle graceful exit when user presses Ctrl+C
        print("\nTime display stopped.")
        print("used gpt help")

# Run the function
if __name__ == "__main__":
    display_time()

Current Time: 20:12:54
Time display stopped.
used gpt help

# Module Package Library

**Assignment 01**

In [36]:
# Assignment 1: Simple package with two modules.
# File structure:
# my_package/
# ├── __init__.py
# ├── module1.py
# └── module2.py

# File: module1.py
def greet(name):
    return f"Hello, {name}!"

# File: module2.py
def multiply(a, b):
    return a * b

# Usage example:
# from my_package.module1 import greet
# from my_package.module2 import multiply
# print(greet("biJOY"))
#print(multiply(5, 3))

ASSIGNMENT 02

In [58]:
# Assignment 2: Install a new library and explore its functionality.
# Install pandas:
!pip install pandas
import pandas as pd

data = {"Name": ["Joy", "Jarves", "Doe"], "Age": [25, 30, 22]}
df = pd.DataFrame(data)
print(df)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
     Name  Age
0     Joy   25
1  Jarves   30
2     Doe   22